{% if opennebula_net_static == false %}
network:
  version: 2
  renderer: networkd
  bridges:
    br0:
      interfaces: [{{ opennebula_masquerade_ext_if }}]
      dhcp4: true
      parameters:
        stp: false
{% else %}
network:
  version: 2
  renderer: networkd
  bridges:
    br0:
      interfaces: [{{ opennebula_masquerade_ext_if }}]
      dhcp4: false
      addresses: [ {{ opennebula_br0_addr }}/{{ opennebula_br0_netmask_cidr }}]
{% endif %}
